body{
  margin: 0;
  font-family: 'Montserrat', sans-serif;

  font-size: 20px;
  color: black;
  line-height: 1.6;
  
}

*,*::before,*::after{
  box-sizing: border-box;
}

h1,h2,h3,h4,h5{
  margin: 0;
}
.container{
  width: 100%;
  padding: 0 15px;
  max-width: 1230px;
  margin: 0 auto;
}

.intro{
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background:
  url('../img/okean_priboj_pena_117846_1920x1080.jpg') center no-repeat;
  background-size:cover ;
  -webkit-background-size: cover;
  
}
.intro_title{
  font-size: 70px;
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
  line-height: 1;
  margin: 70px auto 0;

}
.intro_subtitle::after{
  content: "";
  display: block;
  width: 60px;
height: 3px;
background-color: aliceblue;
margin: 60px auto 60px;

}
.intro_inner{
  width: 100%;
  max-width: 880px;
  margin: 0 auto;
  color: white;
  text-align: center;
  }
.intro_subtitle{
  font-size: 25px;
  color: rgb(255, 255, 255);
  text-align: center;
  margin: 40px auto 0;
}

header{
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  
}

.header.fixed{
  padding-top: 10px 0;
  padding: 10px 0;
  background-color: #002f61;
  box-shadow: 0 3px 10px rgb(16, 0, 55);

  position: fixed;
  top: 0;
  left: 0;
  right: 0;

  transform: translate3d(0,0,0);
}
.header_inner{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header_logo{
  font-size: 30px;
  font-weight: 700px;
  color: white;
}
.nav{
  font-size: 14px;
  text-transform: uppercase;
}
.nav_link{
  color: white;
  text-decoration: none;
  display: inline-block;
  vertical-align: top;
  margin: 0 26px;
  position: relative;
  text-decoration: none;
  transition: color .2s linear;
}
.nav_link::after{
  content: "";
  display: block;
  width: 100%;
  height: 3px;
  opacity: 0;
  
  background-color: rgb(203, 203, 203); ;

  position: absolute;
  top: 100%;
  left: 0;
  z-index: 1;

  transition: opacity  .2s ;
 }
.nav_link:hover{
 color: rgb(16, 0, 55);
 
}
.nav_link:hover::after,
.nav_link.active{
  opacity: 1;

}
.nav_link.active{
  color: rgb(16, 0, 55);
}

.btn{
  display:inline-block;
  vertical-align: top;
  padding: 10px 15px;

  font-size: 14px;
  font-weight: 700;
  border: solid rgb(255, 255, 255) 3px;
  color: white;
  text-transform: uppercase;
  text-decoration: none;

  transition: background .2s linear, color .2s linear;
}

.btn:hover{
  background-color: rgb(16, 0, 55);
  color: white;

}



.slider{
  display: flex;
  justify-content: space-between;

}

.slider_item{
  width: 24%;
}

.section{
  padding: 80px 0;
  background-color: #d5f0ffa1;
}
.section_header{
  width: 100%;
  max-width:950px ;
  margin-bottom: 40px;
  text-align: center;
  margin: 0 auto 10px;

}

.section_title{
  font-size: 30px;
  font-weight: 700;
  color: rgba(6, 1, 49, 0.999);
  font-family: 'Merriweather', serif;
  text-transform: uppercase;
  margin-top: 30px;
}

.section_title::after{
  display: block;
  content: "";
  width: 60px;
  height: 3px;
  text-align: center;
  background-color: rgba(6, 1, 49, 0.999);
  margin: 40px auto 25px;
}

.section_text{
  color: rgb(108, 107, 107);
  font-size: 18px;
}

.about {
  margin-top: 80px -15px 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

}

.about_item{
  width: 33.33333%;
  padding: 0 50px;
  
  
}
.about_inner{
  position: relative;
  background-color: rgb(2, 27, 72);
}
.about_item:hover .about_img{
  transform: translate3d(-10px,-10px,0);
  }


.about_item:hover .about_img img{
opacity: .6;
}
.about_img{
  background: linear-gradient(to bottom,#ffffffd5,rgba(131, 135, 146, 0.979));

transition: transform .2s linear;
}
.about_img img{
  display: block;
  transition: opacity .1s linear;
  max-width: 100%;
  height: auto;
  }

.about_text{
  width: 100%;

  font-size: 18px;
  color: #fff;
  text-transform: uppercase;
  font-weight: 700;
  text-align: center;
  opacity: 0;

  position: absolute;
  top: 50%;
  left: 0;
  z-index: 2;
  transform: translate(0,-50%,0);

  transition: opacity .2s linear;
}


.line{
  background-color: rgb(2, 27, 72);
  height: 8px;
  width: 100%;
}

.services{
  display: flex;
  flex-wrap: wrap;
}

.services_item{
  width: 33.33333%;
  padding-left: 85px;
  padding-right: 35px;
  position: relative;
  margin-bottom: 30px;
}
.services_ikon{
  position: absolute;
  top: 0;
  left: 28px;
  z-index: 1;
}
.services_title{
  margin-bottom: 10px;

  text-transform: uppercase;
}
.services_text{
  font-size: 15px;
  color: rgb(133, 132, 132);
}

.card_info{
  margin-top: 20px;

  text-align: center;
}

.card_name{
  font-size: 14px;
  color: #333;
  text-transform: uppercase;
  margin-bottom: 5px;


}

.card_prof{
  font-size: 15px;
  font-style: italic;
  color: #990;
  font-weight: 300;
}

.works{
  display: flex;

}

.works_col{
  flex: 1 1 0;
}
.works_item{
  position: relative;

  background: linear-gradient(to bottom, #fff, #cbe9dc);
}
.works_item:hover .works_img{
  opacity: .8;
}
.works_img{
  transition: opacity .2s linear;
  display: block;
}

.contact-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.contact-item {
  margin:  0;
  padding: 0 ;
}

.contact-item i {
  font-size: 24px;
  margin-right: 10px;
  line-height: 1;
}

.contact-item a {
  text-decoration: none;
  color: #333;
}

.contact-item a:hover {
  color: #002f61;
}

footer{
  margin: 0 auto;
  padding: 20px 0;
  text-align: center;
}

@media(max-width: 1230px){

  /*intro*/
  .intro_subtitle{
    font-size: 52px;
  }
.intro_title{
  font: size 120px; ;
}
}

@media(max-width: 990px){

  /*intro*/
  .intro_subtitle{
    font-size: 32px;
  }
.intro_title{
  font: size 80px; ;
}
.services_item{
  width: 50%;
}
}

@media(max-width: 770px){

  .nav{
    display: none;
  }
  .section{
    padding: 40px 0;
  }
  .about{
    justify-content: center;
  }
  .about_item{
    width: 100%;
    max-width: 400px;
    margin-bottom: 30px;
  }
  .services_item{
    width: 100%;
  }
  .works{
    flex-wrap: wrap;
  }
  .works_col{
    flex: none;
    width: 50%;
  }
}


@media(max-width: 575px){

  /*intro*/
  .intro_subtitle{
    font-size: 22px;
  }
.intro_title{
  font: size 40px; ;
}
.section_header{
  margin-bottom: 50px;
}
.section_subtitle{
  font-size: 20px;
}
.section_title{
  font-size: 24px;
}
.section_title::after{
  margin: 20px auto;
}
.works{
  flex-wrap: wrap;
}
.works_col{
  width: 100%;
}
.contact-item{
  font-size: 18 px;
}
}